@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
  @apply flex justify-center items-center;
}

.logo h2 {
  font-family: 'Bakbak One', cursive;
}

.intro {
  height: 100vh;
  background: url('./images/test.jpeg') no-repeat center/cover;
}

.intro .overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
