@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
}

.utilBtn {
  @apply rounded-xl text-white p-2 bg-opacity-40 text-lg mt-6 border-2 border-white hover:border-green-500 hover:text-green-500;
}

.center {
  @apply flex justify-center items-center;
}

.signField {
  @apply border-2 border-green-500 rounded-lg outline-none h-10 w-full text-black text-center;
}

.logo h2 {
  font-family: 'Bakbak One', cursive;
}

.intro {
  height: 100vh;
  background: url('./images/test.jpeg') no-repeat center/cover;
}

.intro .overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.second {
  height: 100vh;
  background: url('./images/secondCover.jpeg') no-repeat center/cover;
}

.second .overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
